body {
    background-color: #2F4F4F;
}

button {
    cursor: pointer;
    background-color: #FFFDD0;
    border-color:#FFFDD0;
    border-radius: 3px;
}

img {
    height: 400px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    height: 500px;
    width: 700px;
    box-shadow: 0 0 7px 2px rgb(91, 104, 91);
    border-radius: 3px;
}

.photo-card:nth-last-child(2n) {
    margin-bottom: 20px;
}

.photo-card:nth-child(2n+1) {
    margin-right: 40px;
}

#load-more-button {
    margin-left: 10px;
    margin-bottom: 20px;
}

.search-form {
    margin-top: 20px;
    margin-left: 10px;
}

.search-form input {
    border-radius: 3px;
    border-color: #FFFDD0;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats-item:not(:last-child) {
    margin-right: 40px;
}

.is-hidden {
    opacity: 0;
}


